<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>report_contacts</key>
	<dict>
		<key>mail</key>
		<string></string>
		<key>name</key>
		<string>Claudio Procida</string>
	</dict>
	<key>main_site</key>
	<string>http://www.bell.ca</string>
	<key>update_url</key>
	<string>http://websmslib.googlecode.com/svn/trunk/plugins/bell-ca.plist</string>
	<key>name</key>
	<string>Bell Canada</string>
	<key>steps</key>
	<array>
		<dict>
			<key>note</key>
			<string>1. step required in order to have a stored cookie to feed for captcha request in step 2</string>
			<key>action</key>
			<string>http://www.txt.bell.ca/bell/en/</string>
		</dict>
		<dict>
			<key>referrer</key>
			<string></string>
			<key>note</key>
			<string>2. load page, extract service number, show captcha</string>
			<key>vars</key>
			<array>
				<dict>
					<key>match</key>
					<string>&lt;input type=&quot;hidden&quot; name=&quot;service_s&quot; value=&quot;([^&quot;]+)&quot; \/&gt;</string>
					<key>name</key>
					<string>BELL_CA_SERVICE_S</string>
				</dict>
			</array>
			<key>captcha</key>
			<string>http://www.txt.bell.ca/bell/en/service?s=%BELL_CA_SERVICE_S%</string>
			<key>data</key>
			<string></string>
			<key>action</key>
			<string>http://www.txt.bell.ca/bell/en/</string>
		</dict>
		<dict>
			<key>referrer</key>
			<string>http://www.txt.bell.ca/bell/en/</string>
			<key>note</key>
			<string>// 3. send message</string>
			<key>data</key>
			<string>destination_address=%TO%&amp;sent_by=%FROM%&amp;reply_to_choice=sms&amp;reply_to=&amp;short_message=%TEXT%&amp;char_count=&amp;priority=0&amp;text_captcha=%CAPTCHA%&amp;service_s=%BELL_CA_SERVICE_S%&amp;submit=send</string>
			<key>action</key>
			<string>http://www.txt.bell.ca/bell/en/BmgServlet</string>
			<key>vars</key>
			<array>
				<dict>
					<key>match</key>
					<string>&lt;div class=&quot;formvaluetext&quot;&gt;(\d+)&lt;\/div&gt;</string>
					<key>name</key>
					<string>BELL_CA_CONFIRMATION_NUMBER</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>note</key>
			<string>4. go to message status page</string>
			<key>referrer</key>
			<string>http://www.txt.bell.ca/bell/en/</string>
			<key>data</key>
			<string></string>
			<key>action</key>
			<string>http://www.txt.bell.ca/bell/en/messageStatus.jsp?c=%BELL_CA_SERVICE_S%</string>
			<key>vars</key>
			<array>
				<dict>
					<key>match</key>
					<string>&lt;input name=&quot;t_03&quot; type=&quot;hidden&quot; value=&quot;([^&quot;]+)&quot; \/&gt;</string>
					<key>name</key>
					<string>BELL_CA_T03</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>note</key>
			<string>// 5. check message status</string>
			<key>referrer</key>
			<string>ttp://www.txt.bell.ca/bell/en/messageStatus.jsp?c=%BELL_CA_SERVICE_S%</string>
			<key>data</key>
			<string>t_03=%BELL_CA_T03%&amp;message_id=%BELL_CA_CONFIRMATION_NUMBER%&amp;destination_address=%TO%</string>
			<key>action</key>
			<string>http://www.txt.bell.ca/bell/en/StatusServlet</string>
			<key>check</key>
			<array>
				<dict>
					<key>match</key>
					<string>Failed</string>
					<key>name</key>
					<string>Sending failed</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>charset</key>
	<string>iso-8859-1</string>
	<key>success_marker</key>
	<string>.</string>
	<key>code_name</key>
	<string>bell-ca</string>
	<key>max_message_length</key>
	<integer>140</integer>
	<key>version</key>
	<string>1.0.0</string>
</dict>
</plist>
