body, form, p
{
	margin: 0;
	padding: 0
}

label,
#updateAvailable
{
	color: #fff;
	font-family: "Helvetica Neue";
	font-size: 7pt;
	font-weight: bold
}

input, textarea { /*
	border-color: transparent;
*/ }

textarea#textField
{
	background-color: transparent;
	font-family: Monaco;
	font-size: 9pt;
	position: absolute;
	width: 160px;
	height: 128px;
	top: 61px;
	left: 29px;
	z-index: 1000
}

#backButton { /*
	position: absolute;
	top: 204px;
	left: 171px
*/ }
#sendButton { /*
	position: absolute;
	top: 204px;
	left: 83px
*/ }

div#fakeTop
{
	position: absolute;
	background: transparent url("img/fake-top.png") no-repeat 0 0;
	top: 37px;
	left: 26px;
	width: 166px;
	height: 26px;
	z-index: 3000;
	display: none;

}
div#textBezel
{
	position: absolute;
/*
	width: 158px;
	height: 128px;
*/
	width: 150px;
	height: 118px;
	padding: 4px;
	top: 61px;
	left: 29px;
	background-color: transparent;
	border: 1px solid #69a88b;
	border-top-color: #8fbfa8;
	z-index: 2000
}
#alertmessage
{
	position: static;
	opacity: 0.0
}
#alertmessage-crn_nw
{
	background: transparent url("img/bezel_crn_nw.png") no-repeat top left;
	padding-left: 6px;
	height: 6px
}
#alertmessage-crn_ne
{
	background: transparent url("img/bezel_crn_ne.png") no-repeat top right;
	padding-right: 6px;
	height: 6px
}
#alertmessage-crn_sw
{
	background: transparent url("img/bezel_crn_sw.png") no-repeat bottom left;
	padding-left: 6px;
	height: 6px
}
#alertmessage-crn_se
{
	background: transparent url("img/bezel_crn_se.png") no-repeat bottom right;
	padding-right: 6px;
	height: 6px
}
#alertmessage-body,
#alertmessage-brd_n,
#alertmessage-brd_s
{
	background: transparent url("img/bezel_bg.png") repeat top left
}
#alertmessage-brd_n,
#alertmessage-brd_s
{
	height: 6px
}
#alertmessage-body
{
	padding: 0.5em 1em;
	color: #fff;
	font-family: "Lucida Grande";
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
	text-shadow: 1px 0 1px #000
}

#front
{
	width: 218px;
	height: 273px;
	background: transparent url("Default.png") no-repeat top left
}
#front.red
{
	background: transparent url("skins/red.png") no-repeat top left
}
#front.purple
{
	background: transparent url("skins/purple.png") no-repeat top left
}
#front.green
{
	background: transparent url("skins/green.png") no-repeat top left
}
#front.yellow
{
	background: transparent url("skins/yellow.png") no-repeat top left
}
#front.white
{
	background: transparent url("skins/white.png") no-repeat top left
}

#back
{
	width: 186px;
	height: 189px;
	display: none;
	padding: 14px 16px 83px 16px;
	background: transparent url("img/Back.png") no-repeat top left
}

#back label
{
	display: inline-block;
	text-align: right;
	width: 54px
}

#back input { margin: 2px 0; }
#back input[type=text],
#back input[type=password],
#providersChooser { width: 120px; }

#providersChooser
{
	height: 19px;
	background: transparent url("img/chooser.png") no-repeat top left
}

#providersChooser,
#providersList { width: 120px; }
#providersList { }
#back input#toField { width: 104px; }

img#abtoggler
{
	position: absolute;
	top: 41px;
	right: 23px
}

.button { margin: 2px 12px 0 12px; }
div#doneButton { float: right; }
div#donateButton { float: left; }

div#send
{
	position: absolute;
	width: 92px;
	top: 204px;
	left: 63px;
	height: 27px;
	cursor: pointer
}

.flip
{
	position: absolute;
	width: 13px;
	height: 13px;
	top: 207px
}

#flip
{
	opacity: 0.0;
	background: transparent url("file:///System/Library/WidgetResources/ibutton/black_i.png") no-repeat top left;
	z-index: 8000;
	left: 174px
}

#huh
{
	opacity: 0.0;
	background: transparent url("img/huh.png") no-repeat top left;
	z-index: 8000;
	right: 174px
}

div#logo
{
	width: 24px;
	height: 26px;
	position: absolute;
	bottom: 28px;
	left: 97px;
	background: transparent url("img/emelogo.png") no-repeat center center
}

div#logo:hover { background: transparent url("img/emelogo-hover.png") no-repeat center center; }

#updateAvailable
{
	visibility: hidden;
	text-align: center;
	margin: 0 0 4px 0
}

a
{
	text-decoration: none;
	color: #fff
}

a:hover { color: #6af; }

a#updateLink
{
	padding: 2px 0 4px 20px;
	background: transparent url("img/update-bubble.png") no-repeat left center
}

h2#version
{
	font-family: "Lucida Grande";
	font-size: 11px;
	font-weight: bold;
	color: #666;
	text-align: right;
	padding: 0 0 7px 0;
	margin: 0 0 6px 0
}

/* top controls */

div#top-controls
{
	position: absolute;
	top: 41px;
	left: 29px;
	width: 160px;
	height: 23px;
	z-index: 4000
}

img#sending
{
	position: absolute;
	top: 5px;
	left: 4px;
	display: none
}

div#availableCharsField
{
	position: absolute;
	width: 25px;
	height: 12px;
	top: 4px;
	right: 3px;
	color: #000;
	text-align: right;
	font-size: 8pt;
	font-family: "Lucida Grande"
}

div#toLabel
{
	font-size: 8pt;
	font-family: "Lucida Grande";
	font-weight: bold;
	text-align: center;
	padding: 2px 0;
	color: #000;
	width: 100px;
	height: 14px;
	position: absolute;
	top: 2px;
	left: 30px
}
div#toLabel:hover
{
	background: transparent url("img/toLabel-hover.png") no-repeat top center
}

select#contactsList
{
	position: absolute;
	top: 42px;
	right: 24px;
	width: 19px;
	opacity: 0.0;
	margin: 1px 0;
	z-index: 5000
}

#skinchooser
{
	text-align: center
}
#skinchooser img
{
	margin: 3px 2px 1px 2px
}