<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>report_contacts</key>
	<dict>
		<key>mail</key>
		<string></string>
		<key>name</key>
		<string>Claudio Procida</string>
	</dict>
	<key>main_site</key>
	<string>http://www.smsdiscount.com/</string>
	<key>update_url</key>
	<string>http://www.malcom-mac.com/files/websmslib/plugins/smsdiscount-no-account.plist</string>
	<key>name</key>
	<string>SMSdiscount (No account)</string>
	<key>steps</key>
	<array>
		<dict>
			<key>referrer</key>
			<string>http://www.smsdiscount.com/demosms/senddemosms.php</string>
			<key>data</key>
			<string>message=%TEXT%%20%FROM%&amp;recipient=%2B%TO_CCODE%%TO%&amp;remLen=160&amp;x=102&amp;y=16</string>
			<key>action</key>
			<string>http://www.smsdiscount.com/demosms/senddemosms.php</string>
			<key>check</key>
			<array>
				<dict>
					<key>match</key>
					<string>You have reached the maximum</string>
					<key>name</key>
					<string>You have reached the maximum of free SMS</string>
				</dict>
				<dict>
					<key>match</key>
					<string>This destination is currently not supported</string>
					<key>name</key>
					<string>Destination not supported</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>charset</key>
	<string>iso-8859-1</string>
	<key>success_marker</key>
	<string>SMS succesfully sent!</string>
	<key>code_name</key>
	<string>smsdiscount-no-account</string>
	<key>max_message_length</key>
	<integer>160</integer>
	<key>version</key>
	<string>0.0.4</string>
</dict>
</plist>
