<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>report_contacts</key>
	<dict>
		<key>mail</key>
		<string>malcom.mac@gmail.com</string>
		<key>name</key>
		<string>Daniele Margutti</string>
	</dict>
	<key>main_site</key>
	<string>http://www.190.it</string>
	<key>update_url</key>
	<string>http://websmslib.googlecode.com/svn/trunk/plugins/vodafone-it.plist</string>
	<key>name</key>
	<string>Vodafone Italia</string>
	<key>steps</key>
	<array>
		<dict>
			<key>referrer</key>
			<string>http://www.190.it/190/trilogy/jsp/home.do?tabName=HOME+190&amp;BV_UseBVCookie=No&amp;ty_skip_md=true</string>
			<key>data</key>
			<string>username=%USERNAME%&amp;password=%PASSWORD%&amp;login_button=</string>
			<key>action</key>
			<string>https://www.190.it/190/trilogy/jsp/login.do</string>
			<key>check</key>
			<array>
				<dict>
					<key>match</key>
					<string>405 Method not allowed</string>
					<key>reason</key>
					<string>Sito in manutenzione</string>
				</dict>
				<dict>
					<key>match</key>
					<string>chooseReminder.chooseReminderType</string>
					<key>reason</key>
					<string>Account inattivo</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>referrer</key>
			<string>http://www.190.it/190/trilogy/jsp/home.do?BV_UseBVCookie=No&amp;tabName=HOME+190</string>
			<key>data</key>
			<string></string>
			<key>action</key>
			<string>http://www.190.it/190/trilogy/jsp/dispatcher.do?ty_key=fdt_invia_sms&amp;tk=9616,c</string>
		</dict>
		<dict>
			<key>referrer</key>
			<string>http://www.190.it/190/trilogy/jsp/common/ty_iPage.jsp?retURL=http%3A%2F%2Fwww.areaprivati.190.it%2F190%2Ftrilogy%2Fjsp%2Fdispatcher.do%3Fty_key%3Dfsms_hp</string>
			<key>data</key>
			<string></string>
			<key>flags</key>
			<string>-L -s</string>
			<key>vars</key>
			<array>
				<dict>
					<key>match</key>
					<string>&lt;option value=&quot;(\d+)&quot; selected &gt;\d+&lt;/option&gt;&lt;option value</string>
					<key>name</key>
					<string>VODAFONE_SENDER_NUMBER</string>
				</dict>
			</array>
			<key>action</key>
			<string>http://www.areaprivati.190.it/190/trilogy/jsp/dispatcher.do?ty_key=fsms_hp&amp;ipage=next</string>
		</dict>
		<dict>
			<key>check</key>
			<array>
				<dict>
					<key>match</key>
					<string>Ti ricordiamo che puoi inviare SMS via Web solo a numeri di cellulare Vodafone</string>
					<key>reason</key>
					<string>Puoi inviare SMS soltanto a numeri Vodafone</string>
				</dict>
				<dict>
					<key>match</key>
					<string>Ti preghiamo di verificare di aver inserito correttamente il numero</string>
					<key>reason</key>
					<string>Il numero del destinatario non e&apos; corretto</string>
				</dict>
			</array>
			<key>captcha</key>
			<string>http://www.areaprivati.190.it%VODAFONE_CAPTCHA_URL%</string>
			<key>referrer</key>
			<string>http://www.areaprivati.190.it/190/trilogy/jsp/dispatcher.do?ty_key=fsms_hp&amp;ipage=next</string>
			<key>data</key>
			<string>pageTypeId=9604&amp;programId=10384&amp;channelId=-18126&amp;senderNumber=%VODAFONE_SENDER_NUMBER%&amp;receiverNumber=%TO%&amp;message=%TEXT%%20%FROM%</string>
			<key>vars</key>
			<array>
				<dict>
					<key>match</key>
					<string>(\/190\/fsms\/generateimg\.do)</string>
					<key>name</key>
					<string>VODAFONE_CAPTCHA_URL</string>
				</dict>
			</array>
			<key>action</key>
			<string>http://www.areaprivati.190.it/190/fsms/prepare.do</string>
		</dict>
		<dict>
			<key>referrer</key>
			<string>http://www.areaprivati.190.it/190/fsms/prepare.do</string>
			<key>data</key>
			<string>verifyCode=%CAPTCHA%&amp;pageTypeId=9604&amp;programId=10384&amp;channelId=-18126&amp;senderNumber=%VODAFONE_SENDER_NUMBER%&amp;receiverNumber=%TO%&amp;message=%TEXT%%20%FROM%</string>
			<key>check</key>
			<array>
				<dict>
					<key>reason</key>
					<string>Hai inserito un codice scorretto</string>
					<key>match</key>
					<string>Verifica la correttezza dei dati da te inseriti e invia il tuo SMS via web</string>
				</dict>
			</array>
			<key>action</key>
			<string>http://www.areaprivati.190.it/190/fsms/send.do</string>
		</dict>
	</array>
	<key>charset</key>
	<string>iso-8859-1</string>
	<key>success_marker</key>
	<string>stata elaborata correttamente</string>
	<key>code_name</key>
	<string>vodafone-it</string>
	<key>max_message_length</key>
	<integer>360</integer>
	<key>version</key>
	<string>1.3.3</string>
</dict>
</plist>
